<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style> 
      form {text-align: center;}
      h1 {
        text-align: center;
      }
      input {width:20%}
      input[type= text]{
  
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #a7b8b5;
    color: white
      }
      body{
          background-color: #267491;
      }
      </style>
<script>

</script>
    <title>Document</title>

    
</head>
<body>  
  
      <form action = "/login" method = "post">

        <p>Enter Reminder:</p>
        <p><input type = "text" name = "r" /></p>

        <label for="date"></label>
	        <input type="date" name="date" id="date">
	        <br>
            
            <p><input type = "submit" value = "submit" /></p>
        </form>  


      
      <h1>Reminders</h1>

      {% if not messages %}
      <p>No Reminders Set</p>
      {% endif %}

      {% if messages %}
        {% for message in messages%}

        <div class = "row">
          <div class = "col-md">
            <p>{{message['reminder']}}</p>
          </div>
          <div class = "col-md">
            <p>{{message['time']}}</p>
          </div>
          <div class = "col-md">
            <a href="/buttonPressed/{{message['id']}}/{{message['reminder']}}"><button>Finish</button></a>
          </div>
        </div>

        {%endfor%}

      {% endif %}
      <br>
      <br>
      <br>

      <a href="/deleteAll"><button>Delete All</button></a>



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>    
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</body>
</html>