<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final project</title>
    <style> 
    form {text-align: center;}
    h1 {text-align: center;}
    input {width:10%}
    input[type= text]{

  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #a7b8b5;
  color: white
    }
    body{
        background-color: #267491;
    }
    </style>
</head>
<body>
    <h1>FINAL PROJECT</h1>

    <form action ="/login" method ="post">
        <p>Enter message</p>
        <p><input type = "text" name = "nm"/></p>
        <p><input type = "submit" value = "submit"</p>
        <div style="width:50%;height:0;padding-bottom:92%;position:relative;"><iframe src="https://giphy.com/embed/LoBdp9ro0ztlxzmGF5" width="60%" height="30%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen>
        </iframe></div><p><a href="https://giphy.com/gifs/points-pointing-to-LoBdp9ro0ztlxzmGF5">via GIPHY</a></p>
</body>


</html>